.artist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003135;
}

.artist-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: center;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.artist-header-text {
    font-size: 36pt;
}

.artist-album-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    margin-bottom: 50px;
}

.artist-album-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #101010;
    margin-top: 40px;
    padding: 20px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    gap: 10px;
}

.artist-album-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artist-album-header-text {
    font-size: 20pt;
}

.artist-album-cover {
    height: 300px;
    width: 300px;
}

.artist-songs-container {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
}

.artist-song-container-grid {
    background-color: #101010;
    display: grid;
    grid-template-columns: 3vw 3vw 18vw 12vw 10vw 6vw 3vw;
    align-items: center;
    border-color: gray;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 50px;
    padding-left: 20px;
}

.artist-song-container-grid:hover {
    background-color: gray;
}

.artist-song-title-text {
    font-size: 12pt;
    font-weight: bold;
}

.artist-song-text {
    font-size: 12pt;
    font-weight: lighter;
}