.audioPlayer-container {
    position: sticky;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 1px solid gray;
    height: 70px;
    width: 100%;
}

.audioPlayer-icon:hover {
    color:blue;
}

.audioPlayer-icon-inactive {
    color: gray;
}

.audioPlayer-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    gap: 16px;
    width: 150px;
}

.audioPlayer-cover-image {
    height: 60px;
}

.audioPlayer-info-text-container {
    display: flex;
    flex-direction: column;
}

.audioPlayer-info-text-song {
    font-weight: bold;
    white-space: nowrap;
}

.audioPlayer-info-text-artist {
    font-weight: lighter;
    white-space: nowrap;
}   

.audioPlayer-volume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.audioPlayer-time-text {
    margin-right: 10px;
}

.audioPlayer-volume-slider {
    margin-left: -6px;
    background-color: white;
    color:coral;
    scrollbar-color: coral;
}