.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #003135;
    padding-left: 80px;
    border-style: dashed;
    border-width: 3px;
    border-color: black;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px
}

.field-text {
    font-size: 14pt;
}

.image-thumbnail {
    height: 100px;
    width: auto;
}