.home-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
}

.home-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    margin-bottom: 0px;
}

.home-header-container p {
    font-size: 36pt;
    font-weight: lighter;
}

.home-browseGenres-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.home-releases-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.home-browseGenres {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 2rem;
    margin-top: 0;
    overflow-x: auto;
    border: white 1px solid;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
}

.home-browseGenres p {
    color: white;
    cursor: auto;
    text-wrap: nowrap;
    text-decoration: none;
}

.home-browseGenres p:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.home-releases {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 2rem;
    margin-top: 0px;
    overflow-x: auto;
    border: white 1px solid;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
}

.home-releases p {
    white-space: nowrap;
}

.home-album-container {
    background-color: transparent;
    border: white 1px solid;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
}

.home-album-container:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.home-album-container li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.home-albumInfo {
    display: flex;
    flex-direction: column;
}

.home-releases-container p {
    font-size: 16pt;
    color: white;
}

.home-releases-container h3 {
    font-size: 16pt;
}

.home-artistLink {
    text-decoration: none;
    color: powderblue;
}

.home-artistLink:hover {
    color: plum;
}

.home-releaseImage {
    width: 10rem;
    height: 10rem;
}

.home-image {
    position: absolute;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    z-index: -1;
}
