.search-container {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.search-all-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.search-all-container h2 {
    text-decoration: underline;
}

.search-all-items-container ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.search-all-items-container p {
    color: white;
}

.search-song-item {
    background-color: #101010;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 110px;
}

.search-album-item {
    background-color: #101010;
    border: gray 1px solid;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

.search-album-cover {
    width: 100px;
}

.search-album-item-content {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.search-artist-item {
    background-color: #101010;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 110px;
}